.add-comp {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  justify-content: space-between;
}

.add-comp-icon {
  margin-left: 15px;
  margin-top: 15px;
  color: #a5668b;
}

.add-comp-input {
  margin-left: 15px;
  width: 100%;

  outline: none;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.add-comp-input::placeholder {
  color: #a5668b;
}
.add-comp-input:focus::placeholder {
  color: #6e6e6e;
}
.add-comp-input:active {
  border: 0px;
  outline: none;
}

.add-comp-btn {
  background-color: white;
  border: 0px;
  height: 40px;
  cursor: pointer;
  color: #a5668b;
  font-weight: 600;
  margin-right: 5px;
  margin-top: 5px;
}
.add-comp-form {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .add-comp {
    width: 90%;
    height: 50px;
    border-bottom: 2px solid #eeeeee;
    display: flex;
    justify-content: space-between;
  }
}
