.body-div {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  height: calc(100vh - 60px);
  /*overflow-y: hidden;*/
}

.side-bar {
  background-color: #eeeeee;
  width: 60px;
}
