.body-div {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: red;
  height: calc(100vh - 60px);
}

.side-bar {
  background-color: #eeeeee;
  width: 70px;
  height: 100%;
}
