.list-div{
  padding-top:30px;
  padding-left:20px;
}

.list-list-name{
  font-size:25px;
}

.list-date{
  font-size:15px;
  color: #6e6e6e;
  padding-top:5px;
}

.list-view{
  padding-top: 20px;
}