.side-bar {
  background-color: #eeeeee;
  width: 60px;
  overflow-x: hidden;
}

.side-bar-item {
  width: 200%;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  display: flex;
}

@keyframes move-filter {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -50px;
    background-color: #e9bed7;
    color:black;
  }
}

.filter-comp {
  width: 100%;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  display: flex;
  color: #6e6e6e
}
.filter-comp:hover {
  animation-name: move-filter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.filter-icon {
  width: 50%;
}

.filter-name {
  font-size: 15px;
  line-height: 50px;
  width: 50%;
}
